%% -*- erlang -*-
[
    {snmp, [
        {agent, [
            {priority, normal}, 
            {versions, [v2, v3]}, 
            {db_dir, "tmp/exometer_test_snmp_agent"}, 
            {db_init_error, true},
            {mibs, [
                "../../../../priv/mibs/EXOMETER-MIB.bin"
            ]},
            {mib_storage, [
                {module, snmpa_mib_storage_ets}
            ]}, 
            {target_cache, [
                {verbosity, info}
            ]}, 
            {symbolic_store, [
                {verbosity, info}
            ]}, 
            {local_db, [
                {repair,true},
                {auto_save,5000},
                {verbosity, info}
            ]}, 
            {error_report_module, snmpa_error_logger}, 
            {agent_type, master}, 
            {agent_verbosity, info}, 
            {discovery, [
                {terminating, [
                    {enable, false}
                ]}, 
                {originating, [
                    {enable, true}
                ]}
            ]}, 
            {config, [
                {dir, "../../../../priv/snmp/"},
                {force_load, true}, 
                {verbosity, info}
            ]}, 
            {multi_threaded, true}, 
            {mib_server, [
                {mibentry_override,true},
                {trapentry_override,true},
                {verbosity, info},
                {cache,true}
            ]}, 
            {note_store, [
                {timeout,30000},
                {verbosity, info}
            ]}, 
            {net_if, [
                {module,snmpa_net_if},
                {verbosity, info},
                {options, [
                    {bind_to,false},
                    {no_reuse,false},
                    {req_limit,infinity}
                ]}
            ]}, 
            {audit_trail_log, [
                {type, read_write}, 
                {dir, "tmp/exometer_test_snmp_agent"}, 
                {size, {10240,10}}, 
                {repair, true}, 
                {seqno, false}
            ]}
        ]}
    ]}
].
