%% -*- erlang -*-
[
 {snmp, 
  [
   {manager, 
    [
     {priority, normal}, 
     {versions, [v2, v3]}, 
     {config, 
      [
       {dir, "../../examples/snmp_manager"}, 
       {db_dir, "tmp/exometer_test_snmp_manager"}, 
       {db_init_error, create}, 
       {repair, true}, 
       {auto_save, 5000}, 
       {verbosity, info}
      ]}, 
     {inform_request_behaviour, user}, 
     {mibs, []}, 
     {server, 
      [
       {timeout,30000},
       {verbosity, info}
      ]}, 
     {note_store, 
      [
       {timeout,30000},
       {verbosity, info}
      ]}, 
     {net_if, 
      [
       {module,snmpm_net_if},
       {verbosity, info},
       {options, 
        [
         {bind_to,false},
         {no_reuse,false}
        ]}
      ]}, 
     {audit_trail_log, 
      [
       {type, read_write}, 
       {dir, "tmp/exometer_test_snmp_manager"}, 
       {size, {10240,10}}, 
       {repair, true}, 
       {seqno, false}
      ]}, 
     {def_user_mod, exo_test_user}, 
     {def_user_data, undefined}
    ]}
  ]}
].
