%% -*- erlang -*-
{erl_first_files,
 [
  "EXOMETER-MIB.mib"
 ]}.

{mandatory_deps, [exometer_core]}.
{configurations, [{minimal, []},
		  {basic, []},
		  {amqp , [amqp_client, jiffy]},
		  {collectd, [exometer_collectd]},
		  {full , [{basic}, netlink, {amqp}, {collectd}]}]}.
{deps,
 [
  {exometer_core, ".*", {git, "git://github.com/Feuerlabs/exometer_core.git", "f088de5"}},
  {exometer_collectd, ".*", {git, "git://github.com/Feuerlabs/exometer_collectd.git", "38c583d"}},
  {netlink, ".*", {git, "git://github.com/tolbrino/netlink.git", "tb/logging"}},
  {amqp_client, ".*", {git, "git://github.com/jbrisbin/amqp_client.git", "d50aec0"}},
  {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", "0.14.11"}}
 ]}.

{erl_opts,
 [
  debug_info,
  fail_on_warning,
  {verbosity, trace}
 ]}.

{sub_dirs, ["src"]}.

{edoc_opts,
 [
  {doclet, edown_doclet},
  {app_default, "http://www.erlang.org/doc/man"},
  {doc_path, ["http://raw.github.com/Feuerlabs/exometer_core/master/doc"]},
  {top_level_readme,
   {"./README.md",
    "https://github.com/Feuerlabs/exometer", "master"}}
 ]}.

{xref_checks,
 [
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_functions_calls,
  deprecated_functions
 ]}.

{cover_print_enabled, true}.

{clean_files, ["test/app1/ebin/*.beam"]}.

{ct_use_short_names, true}.
