%% -*- erlang -*-
{erl_first_files,
 [
  "EXOMETER-MIB.mib"
 ]}.

{mandatory_deps, [exometer_core]}.
{configurations, [{minimal, []},
		  {basic, []},
		  {amqp , [amqp_client, jiffy]},
		  {collectd, [exometer_collectd]},
		  {full , [{basic}, netlink, {amqp}, {collectd}]}]}.
{deps,
 [
  {lager, "3.7.0"},
  {exometer_core, "1.5.7"},
  {exometer_collectd, ".*", {git, "https://github.com/Feuerlabs/exometer_collectd.git", {branch, "master"}}},
  {netlink, ".*", {git, "https://github.com/Feuerlabs/netlink.git", {branch, "master"}}},
  {amqp_client, "3.7.15"},
  {jiffy, "0.15.2"}
 ]}.

{erl_opts,
 [
  debug_info,
  fail_on_warning,
  {parse_transform, lager_transform},
  {verbosity, trace}
 ]}.

{sub_dirs, ["src"]}.

{edoc_opts,
 [
  {doclet, edown_doclet},
  {app_default, "http://www.erlang.org/doc/man"},
  {doc_path, ["http://raw.github.com/Feuerlabs/exometer_core/master/doc"]},
  {top_level_readme,
   {"./README.md",
    "https://github.com/Feuerlabs/exometer", "master"}}
 ]}.

{xref_checks,
 [
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_functions_calls,
  deprecated_functions
 ]}.

{cover_print_enabled, true}.

{clean_files, ["test/app1/ebin/*.beam"]}.

{ct_use_short_names, true}.
