%% -*- erlang -*-
%% Config file for uart-application
{erl_first_files, ["src/exometer_entry.erl",
		   "src/exometer_probe.erl"]}.
{deps,
 [
  %% used by exometer_probe_netlink.erl
  {lager, ".*", {git, "git://github.com/basho/lager", {tag,"2.0.0"}}},
  {exo, ".*", {git, "git://github.com/Feuerlabs/exo", "HEAD"}}
 ]}.

{erl_opts, [debug_info, fail_on_warning]}.
{sub_dirs, ["src"]}.

{edoc_opts, [{doclet, edown_doclet},
             {app_default, "http://www.erlang.org/doc/man"},
             {doc_path, []},
             {top_level_readme,
              {"./README.md",
               "https://github.com/Feuerlabs/exometer"}}]}.
