[
 {exometer, [
	     {defaults,
	      [{['_'], function , [{module, exometer_function}]},
	       {['_'], counter  , [{module, exometer}]},
	       {['_'], histogram, [{module, exometer_histogram}]},
	       {['_'], spiral   , [{module, exometer_spiral}]},
	       {['_'], duration , [{module, exometer_folsom}]},
	       {['_'], meter    , [{module, exometer_folsom}]},
	       {['_'], gauge    , [{module, exometer_folsom}]}
	      ]},
	     {report, 
	      [ 
	        { retry_failed_metrics, true },
		{ subscribers, 
		  [ 
		    { exometer_report_tty, [a,b,2], value, 2000, true }
%%		    { exometer_report_collectd, [a,b,2], value, 2000, true } 
		  ]},

		{ reporters,
		  [ 
		    { exometer_report_tty, [] },
		    %% { exometer_report_graphite, 
		    %%   [ 
		    %% 	%% Expires 2013-11-03 magnus@feuerlabs.com foobar42
		    %% 	{ api_key, "267d121c-8387-459a-9326-bc14b0f37f32" }, 
		    %% 	{ mode,  real } 
		    %%   ]},
		     %% { exometer_report_collectd, 
		     %%   [ 
 		     %%     %% Set the refresh interval to collectds Interval value.
		     %% 	{ reconnect_interval, 2 },
		     %% 	{ refresh_interval, 20}, 
		     %% 	{ read_timeout, 5000 },
		     %% 	{ hostname, "testhost" }, 
		     %% 	{ path, "/var/run/collectd-unixsock" },
		     %% 	{ plugin_name, "testname" },
		     %% 	{ type_map, 
		     %% 	  [ { [ a,b,c, max ], "gauge"},
		     %% 	    { [ a,b,d, value ], "gauge"} ]
		     %% 	}]
		     %% },
		    { exometer_report_riak, [ ]}
		    ]
		}]
	     }]
 }
].
