%% -*- erlang -*-
[
 {exometer, 
  [
   {defaults,
    [
     {['_'], function , [{module, exometer_function}]},
     {['_'], counter  , [{module, exometer}]},
     {['_'], histogram, [{module, exometer_histogram}]},
     {['_'], spiral   , [{module, exometer_spiral}]},
     {['_'], duration , [{module, exometer_folsom}]},
     {['_'], meter    , [{module, exometer_folsom}]},
     {['_'], gauge    , [{module, exometer_folsom}]}
    ]},
   {report, 
    [ 
     {subscribers, 
      [ 
       {exometer_report_tty, [a,b,2], value, 2000, true}
       %%{exometer_report_collectd, [a,b,2], value, 2000, true} 
      ]},
     {reporters,
      [ 
       {exometer_report_tty, []},
       {exometer_report_collectd, 
        [ 
         %% Set the refresh interval to collectds Interval value.
         {reconnect_interval, 2},
         {refresh_interval, 20}, 
         {read_timeout, 5000},
         {hostname, "testhost"}, 
         {path, "/var/run/collectd-unixsock"},
         {plugin_name, "testname"},
         {type_map, 
           [
            {[a,b,c, max], "gauge"},
            {[a,b,d, value], "gauge"}
           ]}
        ]}
      ]}
    ]}
  ]}
].
