[
 {exometer, [
	     {defaults,
	      [{['_'], function , [{module, exometer_function}]},
	       {['_'], counter  , [{module, exometer_entry}]},
	       {['_'], histogram, [{module, exometer_histogram}]},
	       {['_'], spiral   , [{module, exometer_spiral}]},
	       {['_'], duration , [{module, exometer_folsom}]},
	       {['_'], meter    , [{module, exometer_folsom}]},
	       {['_'], gauge    , [{module, exometer_folsom}]}
	      ]},
	     {exometer_report, 
	      [ 

		{ subscribers, 
		  [ { exometer_report_graphite, "test2", counter, 2000 } 
		  ]},

		{ modules,
		  [ { exometer_report_graphite, 
		      [ 
			%% Expires 2013-11-03 magnus@feuerlabs.com foobar42
			{ api_key, "267d121c-8387-459a-9326-bc14b0f37f32" }, 
			{ mode,  real } 
		      ]}
		  ]}
	      ]}
	    ]}

].
